@{
    ViewData["Title"] = "Home Page";
}
<body>
    <h1>Welcome to Quoting Dojo</h1>

    <form action="createQuotes" method="POST">
        <label>Your Name:</label><br>
        <input type="text" name="name"><br>
        <label>Your Quote:</label><br>
        <textarea name="quote"></textarea><br>
        <button>Add my quote!</button>    
    </form>
    <form action="quotes" method="GET">
        <button> <a href="quotes"></a>Skip to quotes!</button>
    </form>
    
</body>
